[
        {cargotube, [
                {realms, [
                         {<<"test">>, [anonymous], [{anonymous, <<"public">>}]}
                         ]}
                ]},
        {ct_gate, [
                   {tcp_enable, true},
                   {web_enable, true},
                   {web_static_dir, "/home/bas/Documents/s/sw/cargotube/web_client"},
                   {web_static_path, "/"},
                   {web_ws_path, "/wamp"},
                   {router_if, ct_router_if_local}
                  ]},
        {jobs, [{queues, [
                         {ct_queue_hello, [{regulators, [{counter, [{limit, 2}]}]}]}
                         ]}
                ]},
        {lager, [{handlers, [
                            {lager_file_backend, [{file, "debug.log"}, {level, debug}]},
                            {lager_file_backend, [{file, "info.log"}, {level, info}]},
                            {lager_file_backend, [{file, "error.log"}, {level, error}]}
                ]}]}
].
