[
        {cargotube, [
                {realms, [
                         {<<"test">>, [anonymous], [{anonymous, <<"public">>}]}
                         ]}
                ]},
        {ct_gate, [
                   {enable_stats, true},
                   {tcp_enable, true},
                   {web_enable, true},
                   {router_if, ct_router_if_local}
                  ]},
        {ctr_data, [
                    {data_subscription_if, ctr_data_ram_subscription},
                    {data_publication_if, ctr_data_sqlite_publication},
                    {data_registration_if, ctr_data_ram_registration},
                    {data_invocation_if, ctr_data_sqlite_invocation}
                    ]},
        {jobs, [{queues, [
                         {ct_queue_hello, [{regulators, [{counter, [{limit, 2}]}]}]}
                         ]}
                ]},
        {lager, [{handlers, [
                            {lager_file_backend, [{file, "log/debug.log"}, {level, debug},
                                                  {date, "$D0"}, {count, 21}
                                                 ]},
                            {lager_file_backend, [{file, "log/info.log"}, {level, info},
                                                  {date, "$D0"}, {count, 21}
                                                 ]},
                            {lager_file_backend, [{file, "log/error.log"}, {level, error},
                                                  {date, "$D0"}, {count, 21}
                                                  ]}
                ]}]}
].
