[
        {cargotube, [
                {realms, [
                         {<<"test">>, [anonymous], [{anonymous, <<"public">>}]}
                         ]}
                ]},
        {ct_gate, [
                  {enable_stats, false},
                   {tcp_enable, true},
                   {web_enable, true},
                   {router_if, ct_router_if_local}
                  ]},
        {ct_router, [
                    {data_if, ctr_gen_data_ram}
                    ]},
        {jobs, [{queues, [
                         {ct_queue_hello, [{regulators, [{counter, [{limit, 2}]}]}]}
                         ]}
                ]},
        {lager, [{handlers, [
                            {lager_file_backend, [{file, "debug.log"}, {level, debug}]},
                            {lager_file_backend, [{file, "info.log"}, {level, info}]},
                            {lager_file_backend, [{file, "error.log"}, {level, error}]}
                ]}]}
].
